body{
    background: lightblue;
    text-align: center; 
 }

 .btn{
    top: 20px;
    width: 50px;
    color: lightseagreen
 }

 #Button_Area{
   border: 2px solid black;
   background-color:#707CEB ;
   width: 50%;  
 }

 #Main_Area{
   align-items: center;
   text-align: center;
 }